body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#title{
    background-color: #ff4c68;
    color: white;
    text-align: left; 
}

h1{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.container-fluid{
    padding: 7% 15%;
} 

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Ubuntu';
}

.nav-item{
    padding: 0 18px;
    font-size: 20px;
}

.container-fluid{
    padding: 3% 15% 7%; 
}

/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%
}

/* Features */
#features{
    background-color: white;
    position: relative;
}

.icon{
    color: #ef8172;
    padding-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.features-text{
    color: #8f8f8f;
}

/* Testimonials Section */

#testimonials{
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    width: 15%;
    margin: 20px;
    border-radius: 100%;
}

/* Press Section */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
}

.pricing-card-deck{
    margin-top: 4rem;
}

.pricing-card{
    padding: 3% 2%;
}

/* Closing */
#cta{
    background-color: #ff4c68;
}

.closing{
    color: white;
}

.closing-btn{
    margin: 3rem 1rem 0;
}

/* Footer */
.social{
    margin: 10px 10px;
}

@media (max-width: 991px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }

}